<% if @creations.any? %>
  <% @creations.each do |creation| %>
    <h2> <%= creation.name %> </h2>
  <% end %>
<% else %>
  <p>No creations yet</p>
<% end %>

<%= link_to "Add a creation", new_creation_path %>
